.productContainer{
     min-height: 84vh;
 }

 .productContainer form{
     display: flex;
     gap: 1rem;
     padding: 1rem 0;
 }

 .productContainer form .details{
    display: flex;
    flex-direction: column;
    width: 30%;
 }

 

 .productContainer form button{
     height: 2.5rem;
    width: 10rem;
    margin-top: 2rem;
    border: none;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: 700;
    background-color: var(--background);
    color: white;
 }

 form .details input{
    border: none;
    box-shadow: 0 0 2px black;
    height: 2.4rem;
    background-color: white;
    outline: none;
  }